<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		  <a href="https://johnbradley436.github.io/Another-blog-attempt/">Home</a>
		          <a href="/about">About</a>
	        	  <a href="/syllabus">Syllabus/Assignments</a>
	        	  <a href="/blog">Blog</a>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:johnbradley436@gmail.com">email</a></li>
	        		<li><a href="https://github.com/johnbradley436" target="_blank;">github.com/johnbradley436</a></li>
				</ul>
			</footer>
		</body>
	</html>
